<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sb.sbweek3.domain.BoardMapper">
    <select id="getList" resultType="com.sb.sbweek3.domain.BoardMapper">
        SELECT
            board_id,
            category_id,
            writer,
            password,
            title,
            content,
            view_count,
            system_register_datetime,
            system_update_datetime
        FROM board_info
    </select>
</mapper>