<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sb.sbweek3.board.free.BoardMapper">

    <select id="pagingList" parameterType="map" resultType="com.sb.sbweek3.dto.BoardInfoDTO">
        SELECT
            bi.board_id,
            bi.category_id,
            bi.writer,
            bi.password,
            bi.title,
            bi.content,
            bi.view_count,
            bi.system_register_datetime,
            bi.system_update_datetime,
            ci.category
        FROM
            board_info bi
        JOIN
            category_info ci ON bi.category_id = ci.category_id
        ORDER BY
            bi.system_register_datetime DESC
        LIMIT #{start}, #{limit}
    </select>

    <select id="getList" resultType="com.sb.sbweek3.dto.BoardInfoDTO">
        SELECT /*BoardMapper.getList*/
            bi.board_id,
            bi.category_id,
            bi.writer,
            bi.password,
            bi.title,
            bi.content,
            bi.view_count,
            bi.system_register_datetime,
            bi.system_update_datetime,
            ci.category
        FROM
            board_info bi
        JOIN
            category_info ci
        ON bi.board_id = ci.board_id
    </select>

    <select id="getBoardDataTotal" resultType="int">
        SELECT COUNT(*) AS total_count
        FROM
            board_info
    </select>

    <select id="getSearchListTotal" parameterType="com.sb.sbweek3.dto.SearchDTO" resultType="int">
    SELECT COUNT(*) AS total_count
    FROM board_info
        <where>
            <if test="categoryId != 0">
                category_id = #{categoryId}
            </if>
            <if test="searchKeyword != null and !searchKeyword.isEmpty()">
                AND title LIKE CONCAT('%', #{searchKeyword}, '%')
            </if>
            <if test="startDate != null and !startDate.isEmpty() and endDate != null and !endDate.isEmpty()">
                AND system_register_datetime BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>

    <select id="getListBySearch" parameterType="com.sb.sbweek3.dto.SearchDTO" resultType="com.sb.sbweek3.dto.BoardInfoDTO">
        SELECT
            bi.category_id,
            (SELECT ci.category FROM category_info ci WHERE ci.category_id = bi.category_id) AS category_name,
            bi.writer,
            bi.password,
            bi.title,
            bi.content,
            bi.view_count,
            bi.system_register_datetime,
            bi.system_update_datetime
        FROM board_info bi
        <where>
            <if test="categoryId != 0">
                bi.category_id = #{categoryId}
            </if>
            <if test="searchKeyword != null and !searchKeyword.isEmpty()">
                AND bi.title LIKE CONCAT('%', #{searchKeyword}, '%')
            </if>
            <if test="startDate != null and !startDate.isEmpty() and endDate != null and !endDate.isEmpty()">
                AND bi.system_register_datetime BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>

    <insert id="saveBoard" parameterType="com.sb.sbweek3.dto.BoardInfoDTO" useGeneratedKeys="true" keyProperty="boardId" keyColumn="boardId">
        INSERT INTO board_info /*BoardMapper.saveBoard*/
        (
            category_id,
            writer,
            password,
            title,
            content,
            view_count,
            system_register_datetime,
            system_update_datetime
        )
        VALUES
            (
                #{categoryId},
                #{writer},
                #{password},
                #{title},
                #{content},
                #{viewCount},
                NOW(),
                NOW()
            );
    </insert>

    <select id="getDetailByBoardId" parameterType="int" resultType="com.sb.sbweek3.dto.BoardInfoDTO">
        select /*BoardMapper.getDetailByBoardId*/
            bi.board_id,
            bi.category_id,
            (SELECT ci.category FROM category_info ci WHERE ci.category_id = bi.category_id)AS category_name,
            bi.writer,
            bi.password,
            bi.title,
            bi.content,
            bi.view_count,
            bi.system_register_datetime,
            bi.system_update_datetime
        from
            board_info bi
        where
            board_id = #{boardId}
    </select>

    <update id="updateBoard" parameterType="com.sb.sbweek3.dto.BoardInfoDTO">
        UPDATE /*BoardMapper.updateBoard*/
            board_info
        SET
            title = #{title},
            content = #{content},
            system_update_datetime = now()
        WHERE
            board_id = #{boardId}
    </update>

    <update id="setView" parameterType="int">
        UPDATE /*BoardMapper.setView*/
            board_info
        SET
            view_count = view_count +1
        WHERE
            board_id = #{boardId}
    </update>

    <select id="findPasswordByBoardId" resultType="int" parameterType="int">
        SELECT /*BoardMapper.findPasswordByBoardId*/
        password
        FROM
            board_info
        WHERE
            board_id = #{boardId}
    </select>

    <delete id="deleteBoard" parameterType="int">
        DELETE
        FROM
            board_info
        WHERE
            board_id = #{boardId}
    </delete>
</mapper>